*
{
    margin: 0px;
}

@media screen and (max-width:1920px)
{

#backg
{
    background-image: url(brick.jpg);
    height: 2000px;
    margin: auto;
    width:100%;
}
#content
{
    background-color: antiquewhite;
    opacity: 0.1;
    width: 80%;
    height:100%;
    margin: auto;
}
.main
{
    
    text-align: center;
    background-color: cadetblue;
    height: 50px;
    width: auto;
    border:2px solid ;
    margin-left: 5px ;
    margin-right: 5px;
    
}

    #menu
    {
        
        width: 60%;
        height: 15%;
        margin:auto;
        
    }
.slot
{
    margin: auto;
    float: left;
    margin-left: 5px ;
    margin-right: 5px;
    margin-top: 8px;
    height: 170px;
    width: 170px;
    background-color: aqua;
    border: 2px solid;

}
.slot:hover
{
    
    height:50px;
    width: 20%;
    background-color: aqua;
    border: 2px solid;
    transition-duration: 1s;
}



.bbar
{
    position: fixed;
    background-color: slategray;
    width: 80%;
    height: 30px;
    bottom:0px;
    border-top: solid;

}


 }